.DS_Store
Gemfile.lock
logs/*.log
logs/god
logs/god/*.log
log/*.log
logs/goliath.pid
config/redis.yml

config/config.yml
config/deploy.yml
config/secrets.yml
config/goliath.log
config/goliath.log_stdout.log
config/goliath.pid
config/database.yml
config/memcached.yml
config/newrelic.yml
tmp/*.pid
tmp/*
public/*.*
public/*
.bundle/config
db/schema.rb
app/models/concerns/.keep
config/*.resque
config/resque.yml
